$colorPrimary: #4d4dff;
$colorSecondary: #3655b3;
$colorSecondary: #e15d51;
$colorLight: #d3deff;
$colorLightAlt: #a6bcff;
$colorLightMax: #fff;
$colorBackground: #fff9e0;
$colorBackgroundAlt: #faf1cf;

$colorDark: #1f1f3f;
$colorDarkAlt: #252547;
$colorDarkLight: #2d2d63;
