@import "vars";

$fontSansSerif: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$fontSerif: Georgia, "Times New Roman", Times, serif;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
  font-family: $fontSansSerif;
  scroll-behavior: smooth;
}

body {
  background: $colorBackground;
  margin: 0;
  padding: 0;

  &.body--alt {
    background: $colorBackgroundAlt;
  }

  &:before,
  &:after {
    position: fixed;
    display: block;
    content: "";
    background: rgb(225, 93, 81);
    background: linear-gradient(
      238deg,
      rgba(225, 93, 81, 1) 0%,
      rgba(237, 176, 122, 1) 100%
    );
    height: 12px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  }

  &:after {
    top: auto;
    bottom: 0;
    background: rgb(115, 86, 176);
    background: linear-gradient(
      238deg,
      rgba(115, 86, 176, 1) 0%,
      rgba(103, 124, 233, 1) 100%
    );
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
  }
}

a {
  color: $colorPrimary;
  position: relative;
  transition: color 0.4s;

  &:hover {
    color: $colorSecondary;
  }
}

.wrapper {
  background: $colorBackground;

  &.wrapper--alt {
    background: $colorBackgroundAlt;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:last-child {
      border-bottom: none;
    }
  }
}

.padding_top {
  padding-top: 2em;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 900px;

  &.container--padding {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  &.container--padding_large {
    padding-top: 8em;
    padding-bottom: 4em;

    @media screen and (max-width: $displayLarge) {
      padding-top: 6em;
    }
  }

  &.container--padding_bottom {
    padding-bottom: 4em;
  }

  &.container--padding_bottom_none {
    padding-bottom: 0em;
  }

  &.container--padding_top {
    padding-top: 4em;
  }

  &.container--padding_top--small {
    padding-top: 2em;
  }

  &.container--medium {
    max-width: 700px;
  }

  &.container--small {
    max-width: 600px;
  }

  &.container--mini {
    max-width: 400px;
  }
}

.text-center {
  text-align: center;
}

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &:hover {
    nav {
      opacity: 1;
    }
  }
}

.nav {
  display: block;
  position: relative;
  width: 100%;
  transition: opacity 0.4s;
  font-size: 1em;
  padding: 30px 15px 15px;

  @media screen and (max-width: $displayMedium) {
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $colorBackground;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      opacity: 0.9;
    }
  }

  &:after {
    display: table;
    content: "";
    clear: both;
  }

  &.nav--hide {
    opacity: 0;
  }

  a {
    float: right;
    display: block;
    color: $colorDark;
    text-decoration: none;
    position: relative;
    color: $colorPrimary;
    transition: color 0.4s;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-shadow: 0px 0px 5px rgba(#fff, 0.3);

    &:first-child {
      float: left;
      color: $colorSecondary;
      transition: color 0.5s;
      font-weight: 700;

      &:hover {
        color: $colorPrimary;
      }
    }

    &:not(:first-child):after {
      display: block;
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 100%;
      opacity: 0;
      background-color: $colorPrimary;
      content: "";
      transition: 0.4s;
    }

    &:hover:after {
      opacity: 1;
      background-color: $colorSecondary;
    }

    &:hover {
      color: $colorSecondary;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.body--home .nav:before {
  display: none;
}

.links {
  display: flex;
  gap: 20px;

  > a {
    flex: 1;
  }

  @media screen and (max-width: $displaySmall) {
    flex-direction: column;
  }
}

.title {
  background: rgb(115, 86, 176);
  background: linear-gradient(
    238deg,
    rgba(115, 86, 176, 1) 0%,
    rgba(103, 124, 233, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-bottom: 0;
  font-size: 2em;

  &.title--small {
    text-align: left;
  }
}

.page__header__title {
  background: rgb(115, 86, 176);
  background: linear-gradient(
    238deg,
    rgba(115, 86, 176, 1) 0%,
    rgba(103, 124, 233, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0 5px 5px 0;
  display: inline-block;
  font-weight: 800;
}

.page__header {
  .page__header__intro {
    margin: 0;
  }

  .page__header__date {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
  }

  &.page__header--blog {
    .page__header__content {
      max-width: none;
      text-align: center;
    }
    margin-bottom: 3em;

    .page__header__intro {
      font-family: $fontSerif;
      font-style: italic;
    }
  }

  @media screen and (min-width: 768px) {
    .page__header__content {
      max-width: 600px;
    }
  }
}

.subtitle {
  color: $colorPrimary;
  letter-spacing: -0.05em;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5em;
  span {
    background: linear-gradient(238deg, #7356b0 0%, #677ce9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.intro {
  font-size: 0.9em;
  max-width: 30em;
  display: block;
  margin: auto;
  text-align: center;
  color: $colorDarkLight;
}

.link {
  &.link--underline {
    text-decoration: underline;
    color: $colorPrimary;
  }

  &.link--block {
    text-align: center;
    border: 2px solid $colorPrimary;
    border-radius: 4px;
    padding: 7px 10px 7px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.8em;
    color: $colorPrimary;
    transition: color 0.2s, background 0.2s;

    &:hover {
      background-color: $colorPrimary;
      color: #fff;
    }
  }
}

// Image
.image_container {
  width: 100px;
  margin: auto;
  text-align: center;

  svg {
    max-width: 100%;
    height: auto;
  }
}

// Contact
.contact {
  border-radius: 4px;
  color: $colorPrimary;
  margin-top: 2em;

  .contact__toggle {
    font-weight: 600;
    background: $colorPrimary;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    cursor: pointer;
    background: linear-gradient(
      240deg,
      hsl(5deg 71% 60%) 0%,
      hsl(346deg 80% 58%) 3%,
      hsl(329deg 82% 51%) 10%,
      hsl(313deg 92% 44%) 21%,
      hsl(286deg 68% 51%) 46%,
      hsl(240deg 100% 65%) 100%
    );
    box-shadow: 15px 15px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: $displaySmall) {
      max-width: none;
      width: 100%;
    }

    &.contact__toggle--enabled {
      border: none;
      background: none;
      display: none;
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      border-bottom: 2px dotted;
    }
  }

  .contact__content {
    padding: 25px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(
      240deg,
      hsl(5deg 71% 60%) 0%,
      hsl(346deg 80% 58%) 3%,
      hsl(329deg 82% 51%) 10%,
      hsl(313deg 92% 44%) 21%,
      hsl(286deg 68% 51%) 46%,
      hsl(240deg 100% 65%) 100%
    );
    box-shadow: 15px 15px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    > div + div {
      margin-top: 1em;
    }

    @media screen and (max-width: $displaySmall) {
      max-width: none;
    }
  }
}

// Home
.welcome {
  color: $colorDarkLight;
  position: relative;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.welcome__title {
  position: relative;
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5em;

  background: rgb(115, 86, 176);
  background: linear-gradient(238deg, #7356b0 0%, #677ce9 100%);
  background: linear-gradient(238deg, #e15d51 0%, #4d4dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    background: #e15d51;
    height: 20px;
    width: 20px;
    left: 65%;
    top: -30px;
    will-change: transform;
    transform: rotate3d(0, 0, 1, 30deg) scale(1);
  }

  &:after {
    transform: rotate3d(0, 0, 1, 60deg) scale(1);
    left: 35%;
    top: -50px;
    background: #4d4dff;
  }
}

@keyframes welcomeAnimation {
  0%,
  50% {
    top: 100%;
    left: 50%;
    transform: scale(0.1) rotate(0deg);
    opacity: 0;
  }

  100% {
  }
}

.welcome__title {
  &:before,
  &:after {
    animation: welcomeAnimation 0.6s;
  }
}
.welcome__title {
  &:after {
    animation: welcomeAnimation 0.8s;
  }
}

.welcome__content {
  font-weight: 400;
  font-size: 1.2em;

  a {
    font-weight: 700;
    text-decoration: none;
  }
}

.welcome__links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr;

  a {
    font-weight: 700;
    text-decoration: none;

    span {
      position: relative;
      border-bottom: 2px dotted $colorPrimary;
    }
  }
}

.welcome__links_s {
  position: fixed;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  bottom: 30px;
  text-align: center;

  a {
    text-decoration: none;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: bottom;

    + a {
      margin-left: 10px;
    }

    &.welcome__links_s__li svg {
      width: 21px;
      height: 21px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: $colorSecondary;
    transition: fill 0.4s;
  }

  a:hover svg {
    fill: $colorPrimary;
  }
}

.error__links {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr;

  a {
    font-weight: 700;
    text-decoration: none;

    span {
      position: relative;
      border-bottom: 2px dotted $colorPrimary;
    }
  }
}

// Blog
.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  h2 {
    line-height: 0.9;
  }

  @media screen and (min-width: $displayMedium) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .post {
      min-height: 200px;
    }
  }

  .post {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(#fff, 0.3);
    padding: 20px;
    transition: opacity 0.4s, box-shadow 0.4s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0);

    &:hover {
      a {
        box-shadow: 0px -10px rgba($colorPrimary, 0.5) inset;
      }
      box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
    }

    a {
      transition: color 0.4s, box-shadow 0.4s;
      box-shadow: 0px -4px rgba($colorPrimary, 0) inset;
    }

    a:before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      display: block;
      z-index: 2;
    }
  }

  .post:first-child {
    background: linear-gradient(
      240deg,
      hsl(5deg 71% 60%) 0%,
      hsl(346deg 80% 58%) 3%,
      hsl(329deg 82% 51%) 10%,
      hsl(313deg 92% 44%) 21%,
      hsl(286deg 68% 51%) 46%,
      hsl(240deg 100% 65%) 100%
    );
    border: none;

    .post__date,
    .post__title a,
    .post_description {
      background: none;
      -webkit-text-fill-color: initial;
      color: #fff;
    }

    &:hover {
      a {
        box-shadow: 0px -10px rgba(#fff, 0.3) inset;
      }
    }

    a {
      box-shadow: 0px -4px rgba(#fff, 0) inset;
    }
  }

  .post__date {
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(#000, 0.2);
  }

  .post__title {
    margin: 0;
    margin-bottom: 10px;
    a {
      color: $colorPrimary;
      position: static;
      text-decoration: none;
      background: rgb(115, 86, 176);
      background: linear-gradient(
        238deg,
        rgba(115, 86, 176, 1) 0%,
        rgba(103, 124, 233, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.05em;
    }
  }
  .post_description {
    margin: 0;
  }
}

.post__content {
  font-size: 1em;
  line-height: 1.45;
  font-family: $fontSerif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    background: rgb(115, 86, 176);
    background: linear-gradient(
      238deg,
      rgba(115, 86, 176, 1) 0%,
      rgba(103, 124, 233, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;

    font-family: $fontSansSerif;
    color: $colorPrimary;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 2.5em;
  }

  h2 + h3 {
    margin-top: 1em;
  }

  ul,
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #363430;
  }

  a {
    display: inline-block;
    color: $colorSecondary;
    text-decoration: none;
    box-shadow: 0 -5px rgba($colorSecondary, 0.5) inset;
  }

  padding-bottom: 3em;
}

// About
.about__links {
  margin-top: 1em;
  a {
    font-weight: 600;
    text-decoration: none;
    & + a {
      margin-left: 30px;
    }

    span {
      border-bottom: 2px dotted $colorPrimary;
    }
  }
}

.skill_list {
  position: relative;
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em 0;
  padding: 15px 0;
  align-items: top;
  justify-content: center;
  color: #fff;
  text-align: center;

  &:before {
    position: absolute;
    content: "";
    background: $colorPrimary;
    display: block;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    background: linear-gradient(238deg, #7356b0 0%, #677ce9 100%);
    background: linear-gradient(238deg, #e15d51 0%, #4d4dff 100%);
    // https://www.joshwcomeau.com/gradient-generator/
    background: linear-gradient(
      240deg,
      hsl(5deg 71% 60%) 0%,
      hsl(346deg 80% 58%) 3%,
      hsl(329deg 82% 51%) 10%,
      hsl(313deg 92% 44%) 21%,
      hsl(286deg 68% 51%) 46%,
      hsl(240deg 100% 65%) 100%
    );
    border-radius: 4px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: $displayLarge) {
      border-radius: 0;
      box-shadow: none;
    }
  }

  .skill {
    width: 100%;
  }

  @media screen and (min-width: 500px) {
    .skill {
      width: 50%;
    }
  }

  @media screen and (min-width: 768px) {
    .skill {
      width: 33.3333%;
    }
  }

  @media screen and (min-width: 1024px) {
    .skill {
      width: 25%;
    }
  }
}

.skill_title {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  mix-blend-mode: soft-light;
}

.skill {
  position: relative;
  overflow: hidden;

  ul {
    list-style: none;
    font-weight: 600;
    padding: 0;
    margin: 0;

    li {
      margin-top: 0.2em;
    }
  }
}

.experiences {
}

.experience {
  margin-top: 3em;
  position: relative;
}

.experience__date {
  text-transform: uppercase;
  font-weight: 700;
  color: #e6d999;
  display: block;
  text-shadow: -1px -1px 0 rgba(#fff, 1), 1px 1px rgba(#000, 0.05);
}

.experience__title {
  color: $colorPrimary;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
  display: inline;

  .experience__job {
    display: inline;
    background: linear-gradient(238deg, #7356b0 0%, #677ce9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .experience__company {
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    color: $colorSecondary;
    color: hsl(346deg 80% 58%);
    text-overflow: nowrap;
  }

  a.experience__company:hover {
    opacity: 0.7;
  }
}

.experience__list {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 0.7em;
  color: $colorSecondary;
  font-size: 1em;

  li {
    display: inline-block;

    & + li {
      margin-left: 5px;
    }
  }
}

.experience__intro {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.experience__content {
  margin-top: 0.5em;
}

@media screen and (min-width: 1024px) {
  .experience {
    padding-left: 30px;
  }
  .experience__date {
  }
}
