---
import BaseLayout from '../layouts/BaseLayout.astro';
import { config } from '../config.js';
---
<BaseLayout title="Contact">
  <div class="container container--small container--padding_large">
    <h1 class="title">On s'est perdu</h1>
    <p class="intro">Mais pas de panique, voici quelques liens un peu plus intéressant (j'espère) qu'une page 404</p>
    <div class="error__links">
      <a href="/about" class="link link--block">Présentation</a>
      {config.blogEnable && <a href="/blog" class="link link--block">Blog</a>}
      <a href="/" class="link link--block">Accueil</a>
    </div>
  </div>
</BaseLayout>

