---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<style>
  .image_container {
    width: 100px;
    margin: auto;
    text-align: center;

    svg {
      max-width: 100%;
      height: auto;
    }
  }
</style>
<BaseLayout title="Contact">
  <div class="container container--padding_large">
    <div class="image_container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.002 59.966" xmlns:v="https://vecta.io/nano"><path d="M31.504 10.883c0 23.882 7.179 40.376 15.498 48.083h-8.312v-3.118c0-4.997-3.994-9.051-8.994-9.051s-8.995 4.054-8.995 9.051v3.118h-8.822c8.319-7.707 15.5-24.083 15.5-47.964" fill="#ece9e6"/><path d="M25.751 29.044h7.5v2.719h-7.5zm1.125-18.25h4.75v2.719h-4.75zm-3.5 28.5h11.875v2.719H23.376z" fill="#ccc"/><path fill="#ece9e6" d="M25.586 10.143h7.709V7.469L29.44.966l-3.854 6.503z"/><g fill="#43525b"><path d="M33.295 11.143h-7.709a1 1 0 0 1-1-1V7.469c0-.179.048-.355.14-.51L28.579.456c.359-.607 1.359-.608 1.721 0l3.856 6.503c.092.154.14.33.14.51v2.675a1 1 0 0 1-1 1h0zm-6.709-2h5.709V7.743L29.44 2.927l-2.854 4.816v1.401h0z"/><path d="M47.002 59.966h-8.312a1 1 0 0 1-1-1v-3.118c0-4.439-3.586-8.051-7.994-8.051s-7.995 3.611-7.995 8.051v3.118a1 1 0 0 1-1 1h-8.822a1 1 0 0 1-.68-1.733c9.505-8.806 15.18-26.462 15.18-47.23a1 1 0 1 1 2 0c0 20.047-5.23 37.342-14.094 46.964h5.416v-2.118c0-5.542 4.483-10.051 9.995-10.051s9.994 4.509 9.994 10.051v2.118h4.906c-8.862-9.626-14.093-26.964-14.093-47.083a1 1 0 1 1 2 0c0 20.844 5.674 38.545 15.178 47.35a1 1 0 0 1-.68 1.733h0z"/><path d="M41.259 39.408H18.133a1 1 0 1 1 0-2h23.126a1 1 0 1 1 0 2h0zM34.835 29.13H24.557a1 1 0 1 1 0-2h10.278a1 1 0 1 1 0 2h0z"/></g><path d="M8.673 20.569c-.697-.614-1.167-1.371-1.368-2.196l-.068-.348-.113-.113.097-.513c.12-1.286 1.045-2.582 2.58-2.582 1.024 0 1.952.607 2.365 1.547.417-.954 1.3-1.547 2.304-1.547 1.354 0 2.442 1.109 2.589 2.636h0c.023.24-.008.568-.092.914-.204.832-.673 1.589-1.358 2.192l-3.442 3.017-3.492-3.007z" fill="#fbd0c4"/><path d="M17.555 17.97l-.471-.279-.067-.46c-.159-1.087-.849-1.959-1.797-2.276l-.802-.268.143-.832c.11-1.206.979-2.076 2.069-2.076.823 0 1.566.488 1.895 1.242.334-.766 1.042-1.242 1.851-1.242 1.085 0 1.956.893 2.073 2.124a2.35 2.35 0 0 1-.074.726c-.163.671-.541 1.278-1.091 1.758l-2.759 2.419-.972-.837z" fill="#ffa8a6"/><g fill="#43525b"><path d="M18.526 19.807c-.232 0-.465-.081-.652-.242l-1.041-.896a1 1 0 0 1 1.305-1.516l.383.33 2.108-1.848a2.41 2.41 0 0 0 .776-1.24c.063-.254.05-.393.05-.394-.059-.637-.443-1.22-1.077-1.22-.41 0-.759.24-.934.641a1 1 0 0 1-1.833.001 1.07 1.07 0 0 0-.98-.642c-.635 0-1.02.584-1.071 1.16a1.1 1.1 0 0 1-.014.099c.004-.002.002.133.056.357a1 1 0 0 1-.736 1.207 1 1 0 0 1-1.207-.736c-.138-.567-.112-.964-.088-1.141.168-1.682 1.479-2.946 3.061-2.946.697 0 1.356.236 1.885.648.518-.415 1.164-.648 1.861-.648 1.581 0 2.891 1.264 3.058 2.945.026.179.052.577-.087 1.143a4.4 4.4 0 0 1-1.403 2.271l-2.759 2.419a1 1 0 0 1-.659.248h0z"/><path d="M12.165 24.576c-.232 0-.465-.081-.652-.242l-3.502-3.015c-.851-.75-1.428-1.685-1.679-2.711-.166-.685-.132-1.148-.104-1.341.2-1.969 1.729-3.45 3.571-3.45a3.58 3.58 0 0 1 2.354.883 3.44 3.44 0 0 1 2.316-.883c1.853 0 3.392 1.499 3.577 3.486.011.034.08.525-.109 1.304-.252 1.031-.829 1.966-1.671 2.706l-3.441 3.016c-.188.166-.424.248-.659.248h0zm-3.963-6.989c.003 0-.011.201.073.547.153.626.517 1.207 1.05 1.677l2.834 2.439 2.787-2.442c.53-.467.894-1.047 1.047-1.677.091-.375.069-.582.068-.584-.085-.892-.654-1.732-1.593-1.732-.609 0-1.128.354-1.388.948a1 1 0 0 1-.915.6h-.001a1 1 0 0 1-.916-.598c-.253-.577-.821-.949-1.449-.949-.937 0-1.506.841-1.583 1.671l-.015.1h0 0z"/></g><circle cx="7.766" cy="41.155" fill="#c0dfcf" r="6.766"/><g fill="#43525b"><path d="M7.767 48.923A7.78 7.78 0 0 1 0 41.155a7.78 7.78 0 0 1 7.767-7.766c4.283 0 7.766 3.483 7.766 7.766a7.78 7.78 0 0 1-7.766 7.767h0zm0-13.533C4.587 35.39 2 37.976 2 41.155s2.587 5.767 5.767 5.767 5.766-2.587 5.766-5.767-2.587-5.766-5.766-5.766h0zm0 11.308c-.256 0-.512-.098-.707-.293a1 1 0 0 1 0-1.414l4.003-4.003a1 1 0 0 1 1.414 1.414l-4.003 4.003c-.195.195-.451.293-.707.293h0z"/><path d="M7.767 46.698c-.256 0-.512-.098-.707-.293l-4.004-4.003a1 1 0 0 1 1.414-1.414l4.004 4.003a1 1 0 0 1 0 1.414c-.195.195-.451.293-.707.293h0z"/><path d="M7.767 59.966a1 1 0 0 1-1-1V45.698a1 1 0 1 1 2 0v13.268a1 1 0 0 1-1 1h0z"/></g></svg>
    </div>

    <h1 class="title">Présentation</h1>
    <p class="intro">
      Passionné par le developpement web depuis l'adolescence j'ai connu IE6,  utilisé des &lt;table&gt;, construit des sites sans framework (Coucou XSS!).
      <br>
      #CétaitPasMieuxAvant !
    </p>
    <div class="about__links">
      <a href="/public/assets/CV-Ianis-Brebion.pdf" class="link link--block" target="_blank">Curriculum Vitae</a>
      <a href="/contact" class="link link--block">Contactez-moi</a>
    </div>
  </div>
  <div class="wrapper wrapper--alt">
    <div class="container container--padding">
      <h2 class="subtitle">Compétences</h2>
      <div class="skill_list">
        <div class="skill">
          <h3 class="skill_title">Back</h3>
          <ul>
            <li>PHP</li>
            <li>Symfony</li>
            <li>Wordpress</li>
          </ul>
        </div>
        <div class="skill">
          <h3 class="skill_title">Front</h3>
          <ul>
            <li>HTML/CSS</li>
            <li>Javascript</li>
            <li>ReactJS</li>
            <li>Astro</li>
          </ul>
        </div>
        <div class="skill">
          <h3 class="skill_title">Database</h3>
          <ul>
            <li>MySQL</li>
            <li>Postgre</li>
            <li>Neo4J</li>
          </ul>
        </div>
        <div class="skill">
          <h3 class="skill_title">Autre</h3>
          <ul>
            <li>Git</li>
            <li>SEO</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="wrapper wrapper">
    <div class="container container--small container--padding">
      <h2 class="subtitle">Expérience professionnelle</h2>
      <div class="experiences">
        <div class="experience experience--current">
          <div class="experience__date">
            Depuis 2019
          </div>
          <div class="experience__title">
            Développeur Full-Stack 
            <a href="https://www.greenflex.com/" target="_blank" class="experience__company">
              @GreenFlex
            </a>
          </div>
          <p class="experience__content">
            Scrum Master / SAFe<br>
            Développement Backend & Frontend<br>
            Framework utilisé : Symfony4, Symfony5, ReactJS
          </p>
        </div>

        <div class="experience">
          <div class="experience__date">
            2015 - 2019
          </div>
          <div class="experience__title">
            Chef de projet technique  
            <a href="https://www.3octets.fr/" target="_blank" class="experience__company">
              @3octets
            </a>
          </div>
          <p class="experience__content">
            Gestion & conception de projet web<br>
            Optimisation pour les moteurs de recherche<br>
            Développement Backend & Frontend<br>
            Framework utilisé : Symfony3
          </p>
        </div>

        <div class="experience">
          <div class="experience__date">
            2012 - 2015
          </div>
          <div class="experience__title">
            Développeur web  
            <a href="https://www.3octets.fr/" target="_blank" class="experience__company">
              @3octets
            </a>
          </div>
          <p class="experience__content">
            Développement Backend & Frontend<br>
            Installation & optimisation de serveur web<br>
            Frameworks utilisés : Symfony2, CakePHP<br>
            CMS utilisés : Wordpress, Prestashop, Joomla
          </p>
        </div>

        <div class="experience">
          <div class="experience__date">
            Mai à Août 2010
          </div>
          <div class="experience__title">
            Webmaster 
            <div class="experience__company">
              @MGET
            </div>
          </div>
          <p class="experience__content">
            Mise à jour du site corporate & des différents sites vitrines de l'entreprise<br>
            Gestion des droits des utilisateurs<br>
            Réalisation de flash-info et de campagne d’e-mailing
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="wrapper wrapper--alt">
    <div class="container container--small container--padding">
      <h2 class="subtitle">Formation</h2>
      <div class="experiences">
        <div class="experience">
          <div class="experience__date">
            2019
          </div>
          <div class="experience__title">
            Master en Ingénierie du Web et de l'E-business 
            <div class="experience__company">
              @ESGI
            </div>
          </div>
          <p class="experience__content">
            Cette formation vise à répondre à la demande des industriels en profils double compétence, capables de développer des projets et de créer de la valeur grâce à la technologie. Elle permet d'acquérir des compétences d'expertise dans trois grands secteurs: technologies innovantes et d'intégration de l'Internet, conduite de projets (interfaces avec les prestataires spécialisés, travail en équipes interdisciplinaire) et e-Commerce et gestion de l'activité de site (stratégie marketing, communication, suivi de trafic, référencement, gestion de bases de données, maintenance technique, ergonomie de navigation). 
          </p>
        </div>

        <div class="experience">
          <div class="experience__date">
            2013
          </div>
          <div class="experience__title">
            Licence en développement web 
            <div class="experience__company">
              @ESGI
            </div>
          </div>
          <p class="experience__content">
            Acquérir les connaissances approfondies nécessaires au développement Web (culture du Web et de l'e-Business, langages du Web, administration de serveurs).
          </p>
        </div>

        <div class="experience">
          <div class="experience__date">
            2012
          </div>
          <div class="experience__title">
            BTS Informatique de gestion  
            <div class="experience__company">
              @Lycée Charles de Foucauld
            </div>
          </div>
          <p class="experience__content">
            Elle vise à former des informaticiens capables de développer des applications dans divers domaines, en faisant appel tant à leurs capacités d'étude du besoin, d'analyse (Merise, UML...) et de développement. Ces applications pouvant être de divers types (client-serveur, télétraitement, web...).
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
    2015
    Développeur @SoNeMo
    Projet d'école
    Permet de plannifier, publier des messages sur plusieurs réseaux sociaux
    Framework utilisé : Symfony2

    2014
    Développeur @Brand440
    Projet d'école
    Plateforme collaborative
    Annuaire de designer sonores
    Portfolio personnalisable
    Framework utilisé : Django

    2013
    Développeur & Designer @SayWhatYouPlay
    Projet d'école
    Site d'information
    Base de données de 19000 jeux vidéo
    Développement from scratch
  -->
</BaseLayout>
