---
import BaseLayout from '../layouts/BaseLayout.astro';

let allPosts = await Astro.fetchContent('./blog/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
// Avoid weird bug where post is not defined
let post = {};

---
<BaseLayout title="Blog">  
  <div class="container container--padding_large">
    <div class="page__header">
      <div class="page__header__content">
        <h1 class="page__header__title">Blog</h1>
        <p class="page__header__intro">
          De temps en temps j'essaye d'écrire des articles pour partager mes connaissances
        </p>
      </div>
    </div>
  </div>
  <div class="container container--padding_bottom posts">
    {allPosts.map((post) => 
      <article class="post">
        <div class="post__date">
          {(new Date(post.publishDate)).toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</div>
        <h2 class="post__title"><a href={post.url}>{post.title}</a></h2>
        <p class="post_description">{post.description}</p>
      </article>
    )}
  </div>
</BaseLayout>
