---
import BaseLayout from '../layouts/BaseLayout.astro';
import Contact from '../components/Contact/index.jsx';
---
<BaseLayout title="Contact">
  <div class="container container--padding_large">
    <div class="page__header">
      <div class="page__header__content">
        <h1 class="page__header__title">Contact</h1>
        <p class="page__header__intro">
            Si vous souhaitez me contacter ou si vous avez une opportunité succeptible de m'intéresser, n'hésitez pas.
        </p>
      </div>
    </div>
    <Contact client:load />
  </div>
</BaseLayout>
