---
const { title, description } = Astro.props;
---
<meta charset="UTF-8">
<meta name="description" property="og:description" content={description}>
<meta name="viewport" content="width=device-width">
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700;800&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.scss')}>
