---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';

const { disableScrollNav, bodyClass, title, description } = Astro.props;
---
<html lang="fr">
<head>
  <MainHead title={title} description={description} />
</head>
<body class={bodyClass}>
  {disableScrollNav && <Nav/> || <Nav client:idle/>}
  <slot></slot>
  <Footer />
</body>
</html>
